.card-component {
  width: 100%;

  .card-title, .status {
    font-size: 1.25em;
    font-weight: 600;
  }

  &.main-card {
    min-height: 16em;
    margin-bottom: 1em;
    
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &.name-card {
    .continue-button {
      position: absolute;
      right: 1em;
    }

    .unanswered {
      position: absolute;
      right: 1em;
      top: 1.4em;
      font-weight: 600;
    }
  }
}
